@model MyTestModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("model test", "Test")
<br />
@Html.ActionLink("crud + page + sort + ajax", "Index", "Student")
<br />
@Html.ActionLink("base crud + page", "Index", "StudentBase")
<br />

